*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: grid;
    grid-template-areas: 'aside' 'search' 'main' 'footer';
    height: 100vh;
    grid-template-rows: 20% 15% auto 15%;
}

aside{
    grid-area: aside;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009688;
}

.aside2{
    display: flex;
    flex-direction: row;
    color: white;
}

.icon{
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.search-container{
    grid-area: search;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #607D8B;
}

select{
    width: 10rem;
    height: 2rem;
    border-radius: 6px;
    padding: 4px;
    margin: 0.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

label{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

option{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #C8E6C9
}

main{
    grid-area: main;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFA000;
}

.icons{
    padding: 10px;
}

menu{
    display: none;
}

.cardmobi{
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 0.25rem;
    height: 23rem;
    margin: 10px 0;
}

.bars, .cardDesk, .cardTablet{
    display: none;
}

    .electrico1{
        display: flex;
        justify-content: center;
        border-radius: 0.25rem;
        width: 40rem;
        margin: 10px;
        height: 15rem;
    }

    button{
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 196, 7);
    cursor: pointer;
    margin: 0.5rem;
    height: 30px;
    width: 130px;
    font-size:10px;
    text-align: center;
    }

.pagination{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.pagination a{
    padding: 0.5rem;
    text-decoration: none;
    color: rgb(218, 141, 27);
    border: 1px solid;
    border-radius: 10px;
}

.pagination a.active{
    background-color: rgb(5, 71, 116);
    color: white;
}

/* Media Queries Versión Desktop*/

@media(width >= 576px)
{
    body{
        grid-template-areas: 
        'aside search' 
        'aside main' 
        'footer main' ;
        grid-template-columns: 20% 80%;
        grid-template-rows: 8% auto 10%;
    }

    main{
        grid-area: main;
         background-color: beige;
    }

    aside{
        grid-area: aside;
        justify-content: flex start;
        flex-direction: column;
        padding: 1.5rem;
    }

    aside h1{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        justify-content: center;
        text-align: center;
    }

    .bars{
        display: none;
    }

    menu{
        display: flex;
        flex-direction: column;
        height: 95vh;
        padding: 2px;
    }

    menu p{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin: 0.7rem;
        color: white;
    }

        .search-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    select{
        width: 60rem;
        height: 1.5rem;
        border-radius: 6px;
        padding: 4px;
        margin: 0.2rem;
    }

    label{
        font-size: 0.8rem;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11px;
    }

    .cardstop,  .cardsbottom{
        display: flex;
        align-items: center;
        padding: 1rem auto;
        gap: 5px;
    }

    .cardDesk, .cardTablet, .cardmobi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        width: 15rem;
        margin: 10px;
        height: 20rem;
        border: 1px solid rgb(153, 153, 153);
    }

    .electrico1, .electrico2, .electrico3, .electrico4, .electrico5, .electrico6, .electrico7, .electrico8{
        display: flex;
        justify-content: center;
        border-radius: 0.25rem;
        width: 13.5rem;
        margin: 10px;
        height: 20rem;
    }
        button{
        border: none;
        border-radius: 10px;
        background-color: rgb(238, 196, 7);
        cursor: pointer;
        margin: 0.5rem;
        height: 30px;
        width: 130px;
        font-size:10px;
        text-align: center;
        }

    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

}
